{% extends "base.html" %}
{% load static %}


{% block body %}

    <div class="row my-3">
        <div class="col-lg-12">
            <h1>{{ recipe.title }}</h1>
        </div>
        <div class="col-lg-7">
            {% if recipe.image %}
                <img src="{{ recipe.detail_main.url }}" width="640" class="img-fluid rounded border">
            {% else %}
                <img src="{% static 'images/01.jpg' %}" width="640" class="img-fluid rounded border">
            {% endif %}
        </div>
        <div class="col-lg-5">
            <h3>作り方</h3>
            <p>{{ recipe.content }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>このレシピの説明</h3>
            <p>{{ recipe.description }}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <p class="text-muted">投稿日：{{ recipe.created }}</p>
        </div>
        <div class="col">
            <p class="text-muted">変更日：{{ recipe.modified }}</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-info" href="{% url 'recipe:update' recipe.id %}">編集</a>
            <a class="btn btn-danger" href="{% url 'recipe:delete' recipe.id %}">削除</a>
        </div>
    </div>

{% endblock %}

