{% extends "base.html" %}
{% load static %}

{% block body %}

    <h1>recipe_list.html</h1>

    {% for recipe in recipe_list %}

        <div class="media">
            <img src="{% static 'images/01.jpg' %}" class="align-self-center mr-3" alt="..." width="120">
            <div class="media-body">
                <a href="{% url 'recipe:detail' recipe.id %}">
                    <h5 class="mt-0">{{ recipe.title }}</h5>
                </a>
                <p>{{ recipe.description }}</p>
            </div>
        </div>

        {% if not forloop.last %}
            <hr>
        {% endif %}

    {% endfor %}

{% endblock %}
